:root {
  --navBg: #4a6fdc;
}
.container {
  display: flex;
}
/* Contenedor del contenido principal */
.main-content {
  flex-grow: 1;
  transition: margin-left 0.3s ease-in-out;
  margin-left: 0;
  padding: 20px;
}
/* Contenedor del contenido principal */
.main-container {
  flex-grow: 1;
  transition: margin-left 0.3s ease-in-out;
  margin-left: 0;
  padding: 20px;
}
/* Cuando el sidebar está activo, mueve el contenido */
.main-container.shifted {
  margin-left: 230px; /* Ajusta este valor según el ancho de tu sidebar */
}



.navbar {
  background-color: var(--navBg);
  height: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
  z-index: 1000;
  position: relative;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: var(--navBg);
  width: 230px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -230px;
  transition: left 350ms ease-in-out;
  z-index: 1000;
}

.nav-menu.active {
  left: 0;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 7px 0 7px 14px;
  list-style: none;
  height: 45px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 14px;
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 12px;
  border-radius: 3px;
}

.nav-text a:hover {
  background-color: #362f78;
}

.nav-menu-items {
  width: 100%;
  padding: 0;
}

.navbar-toggle {
  text-decoration: none;
  color: #f5f5f5;
  background-color: var(--navBg);
  width: 90%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  margin-left: 16px;
}


body {
  font-family: 'Inter', sans-serif !important;
}